<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-177028570-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-177028570-1");
    </script>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8" />
    <title>FocusPhotoArts</title>
    <meta
      name="description"
      content="Portfolio website for the FocusPhotoArts"
    />
    <meta name="author" content="Hozefa J" />

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- CSS
  ================================================== -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='./css/base.css') }}"
    />
    <link rel="stylesheet" href="static\css\skeleton.css" />
    <link rel="stylesheet" href="static\css\layout.css" />
    <link rel="stylesheet" href="static\css\font-awesome.css" />
    <link rel="stylesheet" href="static\css\owl.carousel.css" />
    <link rel="stylesheet" href="static\css\animate.css" />
    <link rel="stylesheet" href="static\css\retina.css" />

    <!-- Favicons
	================================================== -->
    <link
      rel="shortcut icon"
      href="./static/images/logos/Focusphotoart_logo_color.png"
    />
    <link
      rel="apple-touch-icon"
      href="./static/images/logos/Focusphotoart_logo_color.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./static/images/logos/Focusphotoart_logo_color.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./static/images/logos/Focusphotoart_logo_color.png"
    />
  </head>
  <body>
    <!-- Primary Page Layout
	================================================== -->

    <!-- MENU
    ================================================== -->

    <nav id="menu-wrap" class="menu-back cbp-af-header">
      <div class="container">
        <div class="sixteen columns">
          <div class="logo"></div>
          <ul class="slimmenu">
            <li>
              <a class="scroll" href="#home">home</a>
            </li>
            <li>
              <a class="scroll" href="#about">about</a>
            </li>
            <li>
              <a class="scroll" href="#work">work</a>
            </li>
            <li>
              <a class="scroll" href="#services">services</a>
            </li>
            <!--
              <li>
              <a class="scroll" href="#blog">blogs</a>
            </li>
            -->
            <li>
              <a class="scroll" href="#contact">contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- HOME SECTION
    ================================================== -->

    <div id="home">
      <div class="parallax-home"></div>

      <div class="line"></div>
      <div class="home-big-text">Focus Photo Arts</div>
      <div class="home-small-text">based in Kuwait</div>
      <div class="line1"></div>
    </div>

    <!-- ABOUT US SECTION
    ================================================== -->

    <div id="about">
      <div class="container">
        <div
          class="sixteen columns"
          data-scrollreveal="enter top and move 150px over 1s"
        >
          <div class="section-top">
            <div class="line-dark"></div>
            <h1>about us</h1>
            <div class="subtext-top">Always in Focus</div>
            <div class="line-dark1"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div
          class="sixteen columns"
          data-scrollreveal="enter bottom and move 150px over 1s"
        >
          <div class="about-top">
            <div class="biger-text">
              <span class="padding-left-text-top">With</span> years of versatile
              experience in photography, our highly creative & capable team of
              photographers specializing in a moment-driven approach to events,
              creating candid photographs that capture the true essence of each
              event. We love what we do! Each event is a new experience, and we
              enjoy bringing a quiet, Focused excitement to every
              celebration.<br /><br />
              <b>Focusphotoarts</b> is the leading choice for clients looking
              for a professional studio that is unsurpassed in sheer talent and
              style. The Focusphotoarts image is easily recognized by its
              richness of sentiment and emotion, hence a distinct one.
            </div>
          </div>
        </div>
        <div class="sixteen columns">
          <div class="separ"></div>
        </div>
        <div
          class="sixteen columns"
          data-scrollreveal="enter top and move 150px over 1s"
        >
          <div class="subsection-top">
            <div class="subline-dark"></div>
            <h3>WE LOVE WHAT WE DO</h3>
            <div class="subline-dark1"></div>
          </div>
        </div>
        <div
          class="eight columns"
          data-scrollreveal="enter left and move 250px over 1s"
        >
          <div class="team-info1">
            <div class="team-img1">
              <img src="static\images\team2.jpg" alt="" />
            </div>
            <h5 style="color: rgb(206, 46, 140)">Fatema J</h5>
            <div class="team-subtext1">Creative Photographer</div>
            <p>
              I am dedicated to promoting extraordinary photography and the
              artists who create it.
            </p>
            <div class="social-team1">
              <ul class="team-social1">
                <li class="icon-team1">
                  <a
                    href="https://www.twitter.com"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf099;</a
                  >
                </li>
                <li class="icon-team1">
                  <a
                    href="https://www.facebook.com/"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf09a;</a
                  >
                </li>
                <li class="icon-team1">
                  <a
                    href="https://www.linkedin.com"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf08c;</a
                  >
                </li>
                <li class="icon-team1">
                  <a
                    href="https://www.instagram.com"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf16d;</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="eight columns"
          data-scrollreveal="enter right and move 250px over 1s"
        >
          <div class="team-info">
            <div class="team-img">
              <img src="static\images\team1.jpg" alt="" />
            </div>
            <h5 style="color: rgb(206, 46, 140)">Mustafa Ali</h5>
            <div class="team-subtext">Graphic Designer / Lead Photographer</div>
            <p>
              Behind the camera I only work with one goal in mind. To tell the
              right story, YOURS!
            </p>
            <div class="social-team1">
              <ul class="team-social1">
                <li class="icon-team1">
                  <a
                    href="https://www.twitter.com"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf099;</a
                  >
                </li>
                <li class="icon-team1">
                  <a
                    href="https://www.facebook.com/"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf09a;</a
                  >
                </li>
                <li class="icon-team1">
                  <a
                    href="https://www.linkedin.com"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf08c;</a
                  >
                </li>
                <li class="icon-team1">
                  <a
                    href="https://www.instagram.com"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf16d;</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="eight columns"
          data-scrollreveal="enter left and move 250px over 1s"
        >
          <div class="team-info1">
            <div class="team-img1">
              <img src="static\images\team2.jpg" alt="" />
            </div>
            <h5 style="color: rgb(206, 46, 140)">Naqiyah A</h5>
            <div class="team-subtext1">Accountant</div>
            <p>
              Helping create a vision for Focusphotoarts that will change the
              way the world looks at photography
            </p>
            <div class="social-team1">
              <ul class="team-social1">
                <li class="icon-team1">
                  <a
                    href="https://www.twitter.com"
                    style="color: rgb(206, 46, 140)"
                    >&#xf099;</a
                  >
                </li>
                <li class="icon-team1">
                  <a
                    href="https://www.facebook.com"
                    style="color: rgb(206, 46, 140)"
                    >&#xf09a;</a
                  >
                </li>
                <li class="icon-team1">
                  <a
                    href="https://www.linkedin.com"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf08c;</a
                  >
                </li>
                <li class="icon-team1">
                  <a
                    href="https://www.instagram.com"
                    target="_blank"
                    style="color: rgb(206, 46, 140)"
                    >&#xf16d;</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="eight columns"
          data-scrollreveal="enter left and move 250px over 1s"
        ></div>
      </div>
    </div>

    <!-- PARALLAX SECTION
    ================================================== -->

    <div id="sep1">
      <div class="parallax1"></div>
      <div class="container">
        <div class="sixteen columns">
          <div id="sync1" class="owl-carousel">
            <div class="item twit">
              <div class="icon-twit" style="color: rgb(206, 46, 140)">
                &#xf099;
              </div>
              <p style="font-size: 20px">
                <a href="#" style="color: rgb(206, 46, 140)">@Yusuf:</a> I don't
                make a lot of good decisions but choosing FocusPhotoArts is one
                of them.
              </p>
            </div>
            <div class="item twit">
              <div class="icon-twit" style="color: rgb(206, 46, 140)">
                &#xf099;
              </div>
              <p style="font-size: 20px">
                <a href="#" style="color: rgb(206, 46, 140)">@Aliasgar:</a>
                Everything with them is just perfect. I love the professionalism
                they have.
              </p>
            </div>
            <div class="item twit">
              <div class="icon-twit" style="color: rgb(206, 46, 140)">
                &#xf099;
              </div>
              <p style="font-size: 20px">
                <a href="#" style="color: rgb(206, 46, 140)">@Hozefa:</a> My
                products were good but they made them look great!
              </p>
            </div>
          </div>

          <div id="sync2" class="owl-carousel">
            <div class="item" style="background-color: rgb(206, 46, 140)"></div>
            <div class="item" style="background-color: rgb(206, 46, 140)"></div>
            <div class="item" style="background-color: rgb(206, 46, 140)"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- PORTFOLIO SECTION
    ================================================== -->

    <div id="work">
      <div class="container">
        <div
          class="sixteen columns"
          data-scrollreveal="enter top and move 150px over 1s"
        >
          <div class="section-top">
            <div class="line-dark"></div>
            <h1>our work</h1>
            <div class="subtext-top">
              Continuously capturing amazing moments!
            </div>
            <div class="line-dark1"></div>
          </div>
        </div>
      </div>

      <div class="clear"></div>
      <div class="portfolio"></div>

      <div class="expander-wrap relative">
        <div id="expander-wrap">
          <p class="cls-btn"><a class="close">X</a></p>
          <div class="expander-inner"></div>
        </div>
      </div>

      <div class="clear"></div>
      <div class="container">
        <div class="sixteen columns">
          <div id="portfolio-filter">
            <ul id="filter">
              <li>
                <a href="#" class="current" data-filter="*" title=""
                  >Show all</a
                >
              </li>
              <li>
                <a href="" data-filter=".food" title="">food</a>
              </li>
              <li>
                <a href="" data-filter=".weddings" title="">weddings</a>
              </li>
              <li>
                <a href="" data-filter=".potraits" title="">potraits</a>
              </li>
              <li>
                <a href="" data-filter=".products" title="">products</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="portfolio-wrap">
        <li class="portfolio-box food">
          <a class="expander" href="project2.html" title="">
            <img src="./static/images/gallery/food/adjusted/f4.png" alt="" />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Food</h4>
          </a>
        </li>
        <li class="portfolio-box food">
          <a class="expander" href="project2.html" title="">
            <img src="./static/images/gallery/food/adjusted/f6.png" alt="" />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Food</h4>
          </a>
        </li>
        <li class="portfolio-box food">
          <a class="expander" href="project2.html" title="">
            <img src="./static/images/gallery/food/adjusted/f20.png" alt="" />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Food</h4>
          </a>
        </li>
        <li class="portfolio-box food">
          <a class="expander" href="project2.html" title="">
            <img src="./static/images/gallery/food/adjusted/f18.png" alt="" />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Food</h4>
          </a>
        </li>

        <li class="portfolio-box weddings">
          <a class="expander" href="project1.html" title="">
            <img src="./static/images/gallery/wedding/adjusted/w1.png" alt="" />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Weddings1</h4>
          </a>
        </li>
        <li class="portfolio-box weddings">
          <a class="expander" href="project1.html" title="">
            <img src="./static/images/gallery/wedding/adjusted/w2.png" alt="" />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Weddings2</h4>
          </a>
        </li>
        <li class="portfolio-box weddings">
          <a class="expander" href="project1.html" title="">
            <img src="./static/images/gallery/wedding/adjusted/w3.png" alt="" />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Weddings3</h4>
          </a>
        </li>
        <li class="portfolio-box potraits">
          <a class="expander" href="project3.html" title="">
            <img src="static\images\gallery\3.jpg" alt="" />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Potraits</h4>
          </a>
        </li>
        <li class="portfolio-box products">
          <a class="expander" href="project4.html" title="">
            <img
              src="./static/images/gallery/product/adjusted/1-2.png"
              alt=""
            />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Products</h4>
          </a>
        </li>
        <li class="portfolio-box products">
          <a class="expander" href="project4.html" title="">
            <img
              src="./static/images/gallery/product/adjusted/3-2.png"
              alt=""
            />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Products</h4>
          </a>
        </li>
        <li class="portfolio-box products">
          <a class="expander" href="project4.html" title="">
            <img
              src="./static/images/gallery/product/adjusted/10-2.png"
              alt=""
            />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Products</h4>
          </a>
        </li>
        <li class="portfolio-box products">
          <a class="expander" href="project4.html" title="">
            <img
              src="./static/images/gallery/product/adjusted/7-2.png"
              alt=""
            />
            <div class="mask"></div>
            <div class="line-folio"></div>
            <div class="line-folio1"></div>
            <h4>Products</h4>
          </a>
        </li>
      </ul>
    </div>

    <!-- LOGOS SECTION
    ================================================== -->

    <div id="logos">
      <div class="container">
        <div
          class="sixteen columns"
          data-scrollreveal="enter bottom and move 250px over 1s"
        >
          <ul id="owl-logos" class="owl-carousel owl-theme">
            <li><img src="static\images\logos\1.png" alt="" /></li>
            <li><img src="static\images\logos\2.png" alt="" /></li>
            <li>
              <img
                src="static\images\logos\Focusphotoart_logo_color.png"
                alt=""
              />
            </li>
            <li><img src="static\images\logos\3.png" alt="" /></li>
            <li><img src="static\images\logos\4.png" alt="" /></li>
            <li><img src="static\images\logos\1.png" alt="" /></li>
            <li><img src="static\images\logos\2.png" alt="" /></li>
            <li><img src="static\images\logos\3.png" alt="" /></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <div
          class="sixteen columns"
          data-scrollreveal="enter top and move 150px over 1s"
        >
          <div class="section-top">
            <div class="line-dark"></div>
            <h1>ITS ALL ABOUT MOMENTS</h1>
            <div class="subtext-top">Capturing your happy memories</div>
            <div class="line-dark1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div
        class="sixteen columns"
        data-scrollreveal="enter bottom and move 150px over 1s"
      >
        <div class="about-top">
          <div class="biger-text">
            <span class="padding-left-text-top">Rain or shine,</span> our
            clients have peace of mind that their images will be amazing. A
            Focusphotoart image has a very unique look - it's the soft,
            flattering lighting, beautiful composition, together with the
            emotion that really captures the entire story of the day.
            <br /><br />
            To view more information about our packages and pricing, visit our
            services page, or contact us. We would love to get in touch with you
            via phone or see you at a cup of coffee and discourse about your
            wedding, event, picture session or video adventure.
            <br /><br />
            We look forward to getting to know you!
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="separ"></div>
    </div>

    <!-- PARALLAX SECTION
    ================================================== -->

    <div id="sep2">
      <div class="parallax2"></div>
      <div class="container">
        <div class="four columns">
          <div class="facts-wrap">
            <div class="facts-wrap-num">
              <span class="counter" style="color: rgb(206, 46, 140)">87</span>
            </div>
            <h5>Clients</h5>
          </div>
        </div>
        <div class="four columns">
          <div class="facts-wrap">
            <div class="facts-wrap-num">
              <span class="counter" style="color: rgb(206, 46, 140)">25</span>
            </div>
            <h5>Awards</h5>
          </div>
        </div>
        <div class="four columns">
          <div class="facts-wrap">
            <div class="facts-wrap-num">
              <span class="counter" style="color: rgb(206, 46, 140)">68</span>
            </div>
            <h5>Projects</h5>
          </div>
        </div>
        <div class="four columns">
          <div class="facts-wrap">
            <div class="facts-wrap-num">
              <span class="counter" style="color: rgb(206, 46, 140)">46</span>
            </div>
            <h5>Mails</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- SERVICES SECTION
    ================================================== -->

    <div id="services">
      <div class="container">
        <div
          class="sixteen columns"
          data-scrollreveal="enter top and move 150px over 1s"
        >
          <div class="section-top">
            <div class="line-dark"></div>
            <h1>services</h1>
            <div class="subtext-top">Simplicity, attention to detail...</div>
            <div class="line-dark1"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="owl-wrap">
          <div id="sync5" class="owl-carousel">
            <div class="item">
              <div class="one-third column">
                <div class="services-box">
                  <img src="static\images\about1.png" alt="" />
                  <h5>Food</h5>
                  <p>
                    A chef cooks mouth watering food, We make it eye-catching!
                  </p>
                </div>
              </div>
              <div class="one-third column">
                <div class="services-box">
                  <img src="static\images\about2.png" alt="" />
                  <h5>Weddings</h5>
                  <p>
                    A matrimony is joyuos occasion let us help you to preserve
                    those memories.
                  </p>
                </div>
              </div>
              <div class="one-third column">
                <div class="services-box">
                  <img src="static\images\about3.png" alt="" />
                  <h5>Potrait</h5>
                  <p>
                    It's not always the tongue who say the truth, It's the face
                    who is good at it.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="one-third column">
                <div class="services-box">
                  <img src="static\images\about4.png" alt="" />
                  <h5>Product</h5>
                  <p>A perfect product is the one which sells.</p>
                </div>
              </div>
              <!--

                <div class="one-third column">
                <div class="services-box">
                  <img src="images\about5.png" alt="" />
                  <h5>Events</h5>
                  <p>
                    Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil.
                  </p>
                </div>
              </div>

              -->
            </div>
          </div>

          <div id="sync6" class="owl-carousel">
            <div class="item" style="background-color: rgb(0, 0, 0)"></div>
            <div class="item" style="background-color: rgb(0, 0, 0)"></div>
          </div>
        </div>

        <div class="clear"></div>

        <div class="sixteen columns">
          <div class="separ"></div>
        </div>
        <div
          class="sixteen columns"
          data-scrollreveal="enter top and move 150px over 1s"
        ></div>
      </div>
    </div>

    <!-- PARALLAX SECTION
    ================================================== -->

    <div id="sep3">
      <div class="parallax3"></div>
      <div class="container">
        <div
          class="sixteen columns"
          data-scrollreveal="enter bottom and move 250px over 1s"
        >
          <p>Want to connect with us?</p>
          <h3>Sent us a Query</h3>
          <div class="line-paralax3"></div>
          <div class="cl-effect-12">
            <a href="#contact" class="scroll" style="color: rgb(206, 46, 140)"
              >get in touch</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- BLOG SECTION
    ================================================== -->

    <!--
      <div id="blog">
      <div class="container">
        <div
          class="sixteen columns"
          data-scrollreveal="enter top and move 150px over 1s"
        >
          <div class="section-top">
            <div class="line-dark"></div>
            <h1>blogs</h1>
            <div class="subtext-top">OUR LATEST NEWS</div>
            <div class="line-dark1"></div>
          </div>
        </div>
      </div>
      <div class="blog-wrap">
        <div
          class="post-wrap"
          data-scrollreveal="enter left and move 250px over 1s"
        >
          <a href="blog-post.html">
            <img src="images\blog\1.jpg" alt="" />
            <div class="mask-blog"></div>
            <div class="doubleflip">
              <img src="images\team1.jpg" alt="" />
            </div>
            <div class="doubleflip1">
              <p>
                23.05.<br />
                <span>Joe</span>
              </p>
            </div>
            <div class="line-blog"></div>
            <div class="line-blog1"></div>
            <h4>awesome blog title</h4>
          </a>
        </div>
        <div
          class="post-wrap"
          data-scrollreveal="enter right and move 250px over 1s"
        >
          <a href="blog-post.html">
            <img src="images\blog\2.jpg" alt="" />
            <div class="mask-blog"></div>
            <div class="doubleflip">
              <img src="images\team2.jpg" alt="" />
            </div>
            <div class="doubleflip1">
              <p>
                21.05.<br />
                <span>Anna</span>
              </p>
            </div>
            <div class="line-blog"></div>
            <div class="line-blog1"></div>
            <h4>awesome blog title</h4>
          </a>
        </div>
        <div class="clear"></div>
        <div
          class="post-wrap"
          data-scrollreveal="enter left and move 250px over 1s"
        >
          <a href="blog-post.html">
            <img src="images\blog\3.jpg" alt="" />
            <div class="mask-blog"></div>
            <div class="doubleflip">
              <img src="images\team3.jpg" alt="" />
            </div>
            <div class="doubleflip1">
              <p>
                07.05.<br />
                <span>John</span>
              </p>
            </div>
            <div class="line-blog"></div>
            <div class="line-blog1"></div>
            <h4>awesome blog title</h4>
          </a>
        </div>
        <div
          class="post-wrap"
          data-scrollreveal="enter right and move 250px over 1s"
        >
          <a href="blog-post.html">
            <img src="images\blog\4.jpg" alt="" />
            <div class="mask-blog"></div>
            <div class="doubleflip">
              <img src="images\team4.jpg" alt="" />
            </div>
            <div class="doubleflip1">
              <p>
                26.04.<br />
                <span>Marco</span>
              </p>
            </div>
            <div class="line-blog"></div>
            <div class="line-blog1"></div>
            <h4>awesome blog title</h4>
          </a>
        </div>
        <div class="clear"></div>
        <div
          class="post-wrap"
          data-scrollreveal="enter left and move 250px over 1s"
        >
          <a href="blog-post.html">
            <img src="images\blog\5.jpg" alt="" />
            <div class="mask-blog"></div>
            <div class="doubleflip">
              <img src="images\team2.jpg" alt="" />
            </div>
            <div class="doubleflip1">
              <p>
                12.04.<br />
                <span>Anna</span>
              </p>
            </div>
            <div class="line-blog"></div>
            <div class="line-blog1"></div>
            <h4>awesome blog title</h4>
          </a>
        </div>
        <div
          class="post-wrap"
          data-scrollreveal="enter right and move 250px over 1s"
        >
          <a href="blog-post.html">
            <img src="images\blog\6.jpg" alt="" />
            <div class="mask-blog"></div>
            <div class="doubleflip">
              <img src="images\team3.jpg" alt="" />
            </div>
            <div class="doubleflip1">
              <p>
                02.04.<br />
                <span>John</span>
              </p>
            </div>
            <div class="line-blog"></div>
            <div class="line-blog1"></div>
            <h4>awesome blog title</h4>
          </a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    -->

    <!-- CONTACT SECTION
    ================================================== -->

    <div id="contact">
      <div class="container">
        <div
          class="sixteen columns"
          data-scrollreveal="enter top and move 150px over 1s"
        >
          <div class="section-top">
            <div class="line-dark"></div>
            <h1>contact</h1>
            <div class="subtext-top">get in touch with us</div>
            <div class="line-dark1"></div>
          </div>
        </div>
      </div>

      <div class="owl-wrap-contact">
        <div id="sync7" class="owl-carousel">
          <div class="item">
            <div class="container">
              <div
                class="sixteen columns"
                data-scrollreveal="enter bottom and move 250px over 1s"
              >
                <form name="ajax-form" id="ajax-form" method="post">
                  <label for="name"
                    >Name: *
                    <span class="error" id="err-name">please enter name</span>
                  </label>
                  <input name="name" id="name" type="text" />
                  <label for="email"
                    >E-Mail: *
                    <span class="error" id="err-email"
                      >please enter e-mail</span
                    >
                    <span class="error" id="err-emailvld"
                      >e-mail is not a valid format</span
                    >
                  </label>
                  <input name="email" id="email" type="text" />
                  <label for="message">Message:</label>
                  <textarea name="message" id="message"></textarea>
                  <button
                    class="send_message"
                    id="send"
                    style="color: rgb(206, 46, 140)"
                  >
                    Submit
                  </button>
                  <div class="error" id="err-form">
                    There was a problem validating the form please check!
                  </div>
                  <div class="error" id="err-timedout">
                    The connection to the server timed out!
                  </div>
                  <div class="error" id="err-state"></div>
                </form>
                <div id="ajaxsuccess">Successfully sent!!</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="sixteen columns">
              <p>Find us</p>

              <h3 style="color: rgb(206, 46, 140)">
                <a
                  href="https://www.google.com/maps/place/Focusphotoarts/@29.3279907,48.0502528,15z/data=!4m5!3m4!1s0x3fcf9dc08fd5a13f:0xf0b9201251e607a3!8m2!3d29.3316484!4d48.0687929"
                  target="_blank"
                >
                  <img
                    src="./static/images/marker.png"
                    alt="whatsapp icon"
                    style="margin-top: 10px"
                  />
                </a>
              </h3>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="sixteen columns padding-bottom-contact">
                <p>call us</p>
                <h3 style="color: rgb(206, 46, 140)">+965-55078672</h3>
              </div>
              <div class="sixteen columns">
                <p>Whatsapp us</p>

                <h3 style="color: rgb(206, 46, 140)">
                  <a href="https://wa.me/+96555078672" target="_blank">
                    <img
                      src="./static/images/whatsapp.png"
                      alt="whatsapp icon"
                      style="
                        background-color: rgb(206, 46, 140);
                        height: 40px;
                        width: 40px;
                        margin-top: 10px;
                      "
                    />
                  </a>
                </h3>
              </div>
              <div class="sixteen columns">
                <p>e-mail us</p>
                <h3 style="color: rgb(206, 46, 140)">
                  getclicked@focusphotoarts.com
                </h3>
              </div>
            </div>
          </div>
        </div>

        <div id="sync8" class="owl-carousel">
          <div class="item">
            <div class="icon-contact" style="color: rgb(206, 46, 140)">
              &#xf003;
            </div>
          </div>
          <div class="item">
            <div class="icon-contact" style="color: rgb(206, 46, 140)">
              &#xf041;
            </div>
          </div>
          <div class="item">
            <div class="icon-contact" style="color: rgb(206, 46, 140)">
              &#xf095;
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER
    ================================================== -->

    <div id="footer">
      <a class="scroll" href="#home"
        ><div class="back-top" style="color: rgb(206, 46, 140)">
          &#xf102;
        </div></a
      >
      <div class="container">
        <div class="sixteen columns">
          <p>
            Made with<i class="icon-footer" style="color: rgb(206, 46, 140)"
              >&#xf004;</i
            >and<i class="icon-footer" style="color: rgb(206, 46, 140)"
              >&#xf0f4;</i
            >in India
          </p>
          <div class="social-bottom">
            <ul class="list-social1">
              <li class="icon-soc1">
                <a
                  href="https://www.twitter.com"
                  style="color: rgb(206, 46, 140)"
                  >&#xf099;</a
                >
              </li>
              <li class="icon-soc1">
                <a
                  href="https://www.facebook.com/focusphotoarts"
                  style="color: rgb(206, 46, 140)"
                  >&#xf09a;</a
                >
              </li>
              <li class="icon-soc1">
                <a
                  href="https://www.instagram.com/focusphotoarts/"
                  style="color: rgb(206, 46, 140)"
                  >&#xf16d;</a
                >
              </li>
              <li class="icon-soc1">
                <a
                  href="https://www.linkedin.com"
                  style="color: rgb(206, 46, 140)"
                  >&#xf08c;</a
                >
              </li>
            </ul>
          </div>
          <p>
            <small
              >Designed & Developed by
              <a
                class="current"
                href="https://semicolon-inc.herokuapp.com//"
                style="color: #ffffff"
                >Semicolon Inc
              </a></small
            >
          </p>
        </div>
      </div>
    </div>

    <!-- JAVASCRIPT
    ================================================== -->
    <script type="text/javascript" src="static\js\jquery.js"></script>
    <script type="text/javascript" src="static\js\modernizr.custom.js"></script>
    <!--
      <script
      type="text/javascript"
      src="static\js\royal_preloader.min.js"
    ></script>
    <script type="text/javascript">
      (function ($) {
        "use strict";
        Royal_Preloader.config({
          mode: "text", // 'number', "text" or "logo"
          text: "FocusPhotoArts",
          timeout: 0,
          showInfo: true,
          opacity: 1,
          background: ["#FFFFFF"],
        });
      })(jQuery);
    </script>
    -->
    <script type="text/javascript" src="static\js\classie.js"></script>
    <script
      type="text/javascript"
      src="static\js\cbpAnimatedHeader.min.js"
    ></script>
    <script type="text/javascript">
      (function ($) {
        "use strict";
        var pos = 0;

        window.setInterval(function () {
          pos++;
          document.getElementsByClassName(
            "parallax-home"
          )[0].style.backgroundPosition = pos + "px 0px";
        }, 40);
      })(jQuery);
    </script>
    <script type="text/javascript" src="static\js\retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="static\js\jquery.fitvids.js"></script>
    <script type="text/javascript" src="static\js\flexSlider.js"></script>
    <script type="text/javascript" src="static\js\owl.carousel.min.js"></script>
    <script type="text/javascript" src="static\js\carousels.js"></script>
    <script
      type="text/javascript"
      src="static\js\jquery.parallax-1.1.3.js"
    ></script>
    <script type="text/javascript" src="static\js\jquery.easing.js"></script>
    <script type="text/javascript" src="static\js\plugins.js"></script>

    <script type="text/javascript" src="static\js\contact.js"></script>
    <script type="text/javascript" src="static\js\template.js"></script>
    <!-- End Document
================================================== -->
  </body>
</html>
